:root { 
--bluegray_51:#eaecf0; 
--gray_51:#f4f8fd; 
--bluegray_50:#ebeff3; 
--red_700:#d03329; 
--blue_A401:#1877f2; 
--red_600:#e93c40; 
--blue_A400:#1d6ff2; 
--light_blue_400:#1ac8fc; 
--gray_50:#f9fafb; 
--light_blue_800:#0073b1; 
--black_900:#090b0d; 
--black_901:#000000; 
--gray_400:#bbbcbc; 
--amber_500:#feb909; 
--blue_800:#2c5cd0; 
--indigo_50:#e4e8eb; 
--blue_500:#1da1f2; 
--indigo_51:#e5ebf9; 
--bluegray_100:#d6dae2; 
--amber_100:#f6efab; 
--teal_50:#d9e6f6; 
--gray_200:#eaebeb; 
--gray_101:#f2f5f7; 
--gray_201:#e5e8eb; 
--blue_50:#dceefd; 
--gray_100:#f5f7f9; 
--bluegray_900:#12344d; 
--bluegray_701:#424c5d; 
--bluegray_700:#39566b; 
--gray_900_d8:#121212d8; 
--bluegray_600:#5f6c86; 
--bluegray_400:#74839d; 
--bluegray_300:#9ea8ba; 
--bluegray_201:#bac1ce; 
--bluegray_200:#b0bbc4; 
--white_A700:#ffffff; 
--bluegray_901:#262b35; 
}