
 @font-face { font-style : bold; src: url("assets/fonts/sourcesansprosemibold600.ttf"); font-family : "Source Sans Pro"; font-weight : 600;  }
 @font-face { font-style : bold; src: url("assets/fonts/sourcesansprobold700.ttf"); font-family : "Source Sans Pro"; font-weight : 700;  }
 @font-face { font-style : bold; src: url("assets/fonts/interbold700.ttf"); font-family : "Inter"; font-weight : 700;  }
 @font-face { font-style : normal; src: url("assets/fonts/sourcesansproregular400.ttf"); font-family : "Source Sans Pro"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/intermedium500.ttf"); font-family : "Inter"; font-weight : 500;  }